html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@import url('./assets/fonts/sf-pro.css');

body {
  font-family: "sf-pro",sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/img/bg.png') no-repeat fixed #FFF8F5;
  background-position: -160px 0;
  margin-left: 40px;
  margin-top: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6,
h1>*,h2>*,h3>*,h4>*,h5>*,h6>*{
  font-family: "all-round-gothic", sans-serif !important;
}